body {
  font-family: 'Arial', sans-serif;
  background-color: #00A0A0;
  height: 100vh;
  transition: background-color 0.3s ease; /* Smooth transition for dark mode */
}

.main-container {
  padding-top: 100px;
}

.card {
  border: none;
  border-radius: 8px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.file-upload {
  font-size: 30px;
}

.form-label {
  font-weight: bold;
  color: #495057;
}

.upload-input {
  border: 2px dashed #6c757d;
  border-radius: 4px;
  padding: 20px;
  background-color: #e9ecef;
  text-align: center;
  transition: background-color 0.3s ease;
}

.upload-input:hover {
  background-color: #dee2e6;
}

#reviewContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

#headingsContainer a {
  font-weight: bold;
}

#headingsContainer a:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.review-button:disabled {
  background-color: #6c757d;
  border-color: #4f5357;
  cursor: not-allowed;
  opacity: 0.65;
}

.html-button {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  z-index: 1000;
  margin: 10px 0;
}

.moon-color{
  font-size: 23px;
}
/* Dark Mode Styles */
.dark-mode {
  background-color: #222;
  color: #fff;
}

.dark-mode .card {
  background-color: #333;
  color: #fff;
}

.dark-mode .form-label {
  color: #ccc;
}

.dark-mode .upload-input {
  background-color: #444;
  color: #ccc;
}
.dark-mode .html-button{
  filter: none;
}
.dark-mode .review-button{
  filter: none;
}
.dark-mode #reviewContainer img {
  filter: invert(1); /* Remove any invert or dark mode effects */
}

.dark-mode .fa fa-moon-o moon-color{
 filter:invert(1);
}
#darkModeToggle{
  cursor: pointer;
}



